.ui-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 1;
    overflow-y: scroll;
    margin: 0 -.25rem;
    &:hover>.ui-item {
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}

.ui-item {
    display: block;
    height: 10rem;
    width: auto;
    flex-shrink: 0;
    flex-grow: 0;
    margin: .25rem;
    animation: item .5s calc(var(--i, 0) * .05s) cubic-bezier(.5, 0, .2, 1) both;
    background-color: #EEE;
    @keyframes item {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
}
