@import 'Styles/common';

.ui-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40rem;
    max-width: 90vw;
    height: calc(100vh - 2rem);
    &[data-state="start"] {
        justify-content: center;
    }
    &[data-state="loading"] {
        .ui-item {
            opacity: .5;
        }
    }
    &[data-state="photo"] {
        * {
            opacity: 0.3;
        }
        .ui-photo-detail,
        .ui-photo-detail * {
            opacity: 1;
        }
        .ui-items {
            pointer-events: none;
        }
    }
    &:after {
        content: 'current state: ' attr(data-state);
        position: absolute;
        bottom: .5rem;
        color: white;
        background-color: rgba(black, 0.4);
        font-size: 1rem;
        padding: .5rem 1rem;
        border-radius: 1rem;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 0 0 .1rem black;
        pointer-events: none;
    }
}
